/* START OF HEADER STYLES */
header {
  font-family: Exo, sans-serif;
}

.gray-background {
  background-color: #d1d0d0;
}

.background-body-color {
  background-color: #efecec;
}

.nav-background {
  background-color: #dcd6d6;
}

.bottom-border {
  border-bottom: 2px solid black;

  /* You can adjust the width and color as needed */
}

.header-text {
  font-family: Exo, sans-serif;
  margin: 0;
  padding: 0.7rem;
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-button {
  padding-right: 0.5rem;
  cursor: pointer;
}

/* hide mobile version by default */
.logo .mobile {
  display: none;
}

/* when screen is less than 600px wide
    show mobile version and hide desktop */
@media only screen and (width <= 400px) {
  .logo .mobile {
    display: block;
    font-size: 2.2rem;
  }

  .logo .desktop {
    display: none;
  }

  textarea {
    width: 100%;
  }
}

/* END OF HEADER STYLES */

/* START OF MAIN STYLES */
#type-def-promt,
#click-words-to-save-promt,
#words-saved-promt,
li,
button {
  font-family: Exo, sans-serif;
  padding-left: 0.5rem;
}

li {
  margin-right: 1rem;
}

button {
  cursor: pointer;
  background-color: #d9d9d9;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
}

.focus {
  background-color: #a3cef1;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

.options-list {
  padding-left: 0;
  border-radius: 5rem;
}

#def {
  font-size: 2rem;
  border: none;
  background-color: #efecec;
  outline: none;
}

textarea {
  font-family: Exo, sans-serif;
  text-transform: uppercase;
  width: 100%;
  padding: 0.7rem;
}

/* END OF MAIN STYLES */

/* START OF SAVE BUTTON STYLES */
.center-save {
  display: flex;
  align-self: flex-end;
}

.submit-button {
  font-family: Exo, sans-serif;
  background: #6686a4;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
  padding: 0.2rem 2.5rem;
  cursor: pointer;
}

.bottom-search {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  padding: 0.5rem;
}

/* NAV BAR STYLING BELOW */
.home-button,
.keywords-button {
  font-family: "JetBrains Mono", sans-serif;
  background: #dcd6d6;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.space {
  margin-top: 2rem;
}

.home-button:focus,
.keywords-button:focus {
  background-color: #a3cef1;
}

.home-button:visited,
.keywords-button:visited {
  color: black;
}

.saved-word {
  background-color: #a3cef1;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
}

#words-saved-promt {
  font-size: 2rem;
  margin: 0;
}
